$width: 250px;

$color_background: #2a3f54;
$color_item: rgba(255, 255, 255, 0.75);
$color_item_hilight: white;
$color_submenu_bg: #2b3f54;
$color_menu_icon_bg: #3a4d56;
$color_menu_icon_hover: yellow;
$color_menu_icon_active: #38fbc7;
$color_menu_border_active: #1abb9c;
$color_border: #3a4d56;

$color_notification_time: #828282;
